html {
  height: 100vh;
}

body.index {
  height: 100vh;
  background-image: url(../assets/110520-poligono-negro-fila-forma_geometrica-geometria-2560x1600.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

header nav {
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23772b11'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header nav div a {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  header nav div a {
    text-align: center;
  }
}
header nav div a img {
  border-radius: 2rem;
}
header nav ul li a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 2rem;
}

main {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-areas: "divuno pUno" "pDos divdos";
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas: "divuno" "pUno" "divdos" "pDos";
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas: "divuno" "pUno" "divdos" "pDos";
  }
}
main .divUno {
  grid-area: divuno;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divUno {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main .divUno {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 21px;
  }
}
main .divUno img {
  width: 70vh;
  margin: 40px 0 0 20px;
  border: 2px solid black;
  border-radius: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divUno img {
    width: 50vh;
  }
}
main div.tuno {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tuno {
    margin: 20px 0 20px 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tuno {
    margin: 10px 0 10px 0;
  }
}
main div.tuno h2 {
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tuno h2 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tuno h2 {
    font-size: 1rem;
  }
}
main .divDos {
  grid-area: divdos;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divDos {
    margin-right: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main .divDos {
    justify-content: center;
    margin-right: 0;
  }
}
main .divDos img {
  width: 70vh;
  border: 2px solid black;
  border-radius: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divDos img {
    width: 50vh;
  }
}
main div.tdos {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tdos {
    margin: 20px 0 20px 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tdos {
    margin: 10px 0 10px 0;
  }
}
main div.tdos h2 {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tdos h2 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tdos h2 {
    font-size: 1rem;
  }
}

footer {
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23772b11'/%3E%3Cstop offset='1' stop-color='%23ee5522'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-radius: 2rem;
  grid-area: footer;
  margin-top: 550px;
  border: 3px solid black;
  border-radius: 20px;
}
footer .Contactanos {
  display: flex;
  justify-content: center;
}
footer .Contactanos .Social {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  color: #050505;
  background: linear-gradient(121deg, rgb(26, 24, 23) 0%, rgb(255, 170, 10) 100%);
  border: 2px solid #040404;
  border-radius: 5px;
  padding: 4px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .Contactanos .Social {
    font-size: 0.8rem;
  }
}
footer .logos {
  display: flex;
  justify-content: center;
}
footer .logos .logosEnlace {
  width: 30px;
  height: 25px;
  margin-top: 5px;
}
footer .Copyright {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: right;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 8px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .Copyright {
    font-size: 0.8rem;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  footer .Copyright {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
