body.index {
  height: 100vh;
}

body.contacto {
  height: 80vh;
}

body.marcas {
  height: 100vh;
}

body.index, body.contacto, body.marcas {
  background-image: url(../assets/110520-poligono-negro-fila-forma_geometrica-geometria-2560x1600.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

main.mainequipo {
  display: flex;
  flex-direction: column;
}

header nav {
  background-image: url("../assets/fondoheaderfooter.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  header nav div a {
    text-align: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  header nav div a {
    text-align: center;
  }
}
header nav div a img {
  border-radius: 2rem;
}
header nav ul li a {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 2rem;
}
header nav ul li a:hover {
  font-weight: bold;
  font-size: 1rem;
}

main {
  height: 110vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  grid-template-areas: "divuno pUno" "pDos divdos";
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas: "divuno" "pUno" "divdos" "pDos";
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main {
    height: 140vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas: "divuno" "pUno" "divdos" "pDos";
  }
}
main .divUno {
  grid-area: divuno;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divUno {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main .divUno {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 21px;
  }
}
main .divUno img {
  width: 70vh;
  margin: 40px 0 0 20px;
  border: 2px solid black;
  border-radius: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divUno img {
    width: 50vh;
  }
}
main div.tuno {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tuno {
    margin: 20px 0 20px 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tuno {
    margin: 10px 0 10px 0;
  }
}
main div.tuno h2 {
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tuno h2 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tuno h2 {
    font-size: 1rem;
  }
}
main .divDos {
  grid-area: divdos;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divDos {
    margin-right: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main .divDos {
    justify-content: center;
    margin-right: 0;
  }
}
main .divDos img {
  width: 70vh;
  border: 2px solid black;
  border-radius: 1rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .divDos img {
    width: 50vh;
  }
}
main div.tdos {
  display: flex;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tdos {
    margin: 20px 0 20px 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tdos {
    margin: 10px 0 10px 0;
  }
}
main div.tdos h2 {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main div.tdos h2 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main div.tdos h2 {
    font-size: 1rem;
  }
}

main.mainequipo div.video {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
  position: relative;
}
main.mainequipo div.slider {
  height: auto;
}
main.mainequipo div.slider ul {
  padding: 0;
  display: flex;
  width: 200%;
  animation: slider 10s infinite alternate-reverse;
}
main.mainequipo div.slider ul li {
  width: 800%;
  list-style: none;
}
main.mainequipo div.slider ul img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@keyframes slider {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: -5%;
  }
  25% {
    margin-left: -25%;
  }
  45% {
    margin-left: -50%;
  }
  50% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  100% {
    margin-left: -200%;
  }
}
main.cconocenos {
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main.cconocenos {
    display: grid;
    height: 110vh;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "titulos" "contenido";
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main.cconocenos {
    display: grid;
    height: 110vh;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "titulos" "contenido";
  }
}

.titulos {
  background: rgba(0, 0, 0, 0.452);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .titulos h1 {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .titulos h1 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .titulos {
    grid-area: titulos;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .titulos {
    grid-area: titulos;
  }
}

.contenido {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido {
    grid-area: contenido;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
    grid-template-areas: "imagen" "mapa";
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido {
    grid-area: contenido;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
    grid-template-areas: "imagen" "mapa";
    margin-left: 100px;
  }
}
.contenido .imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido .imagen {
    grid-area: imagen;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido .imagen {
    grid-area: imagen;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido .imagen h2 {
    font-size: 1.1rem;
    margin-left: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido .imagen h2 {
    font-size: 1.3rem;
    margin-left: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido .imagen img {
    width: 250px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido .imagen img {
    margin-left: 50px;
  }
}
.contenido .mapa {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex: 1;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido .mapa {
    grid-area: mapa;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido .mapa {
    grid-area: mapa;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.contenido .mapa h2 {
  background: rgba(255, 255, 255, 0.452);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 15px 5px 15px;
  padding-right: -20px;
  color: white;
}
.contenido .mapa iframe {
  align-items: flex-start;
  border-radius: 2rem;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido .mapa iframe {
    width: 300px;
    height: 200px;
    align-items: center;
    margin-left: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido .mapa iframe {
    width: 400px;
    height: 200px;
    align-items: center;
    margin-right: 100px;
  }
}
.contenido .lista {
  margin-left: 70px;
  flex: 1;
  text-align: right;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .contenido .lista {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contenido .lista {
    display: none;
  }
}
.contenido .lista h3 {
  background: rgba(255, 255, 255, 0.452);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 15px 5px 15px;
  color: white;
  text-align: right;
}
.contenido .lista ul {
  list-style-type: none;
}
.contenido .lista ul li {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  main.mainequipo {
    height: 60vh;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main.mainequipo {
    height: 80vh;
  }
}
main.mainequipo div {
  margin-top: 20px;
}
main.mainequipo div h2 {
  display: flex;
  text-align: center;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main.mainequipo div h2 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main.mainequipo div h2 {
    font-size: 1.3rem;
  }
}
main.mainequipo div.divdoscompras {
  margin-top: 100px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main.mainequipo div.divdoscompras {
    margin-top: 50px;
  }
}
main.mainequipo div.divdoscompras h2.tmarcas {
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
}
main.mainequipo div.divtrescompras {
  display: flex;
  margin-top: 90px;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main.mainequipo div.divtrescompras {
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  main.mainequipo div.divtrescompras {
    margin-top: 20px;
  }
}

footer {
  background-image: url("../assets/fondoheaderfooter.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  grid-area: footer;
  border: 3px solid black;
  border-radius: 20px;
}
footer .Contactanos {
  display: flex;
  justify-content: center;
}
footer .Contactanos .Social {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 5px;
  color: #050505;
  border: 3px solid #040404;
  border-radius: 2rem;
  padding: 4px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .Contactanos .Social {
    font-size: 0.8rem;
  }
}
footer .logos {
  display: flex;
  justify-content: center;
}
footer .logos .logosEnlace {
  width: 30px;
  height: 25px;
  margin-top: 5px;
}
footer .Copyright {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: right;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 8px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  footer .Copyright {
    font-size: 0.8rem;
    justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  footer .Copyright {
    justify-content: center;
  }
}

body.index, body.contacto, body.marcas {
  background-image: url(../assets/110520-poligono-negro-fila-forma_geometrica-geometria-2560x1600.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

main.mainequipo {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
