html{
    height: 100vh;
}

body.index {
    height: 100vh;
    background-image: url(../assets/110520-poligono-negro-fila-forma_geometrica-geometria-2560x1600.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}