@import "./mixings";
@import "./variables";

header {
    nav {
        @include background;

        div {
            a {
                @include mobilemini{
                    text-align: center;
                }
                @include mobile{
                    text-align: center;
                }
                img {
                    border-radius: $border;
                }
            }
        }

        ul {
            li {
                a {
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-decoration: none;
                    padding: 2rem;
                    
                    &:hover {
                        font-weight: bold;
                        font-size: 1rem;
                    }
                }                 
            }
        }
    }

}
