main {
    height: 110vh;
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas:
        "divuno pUno"
        "pDos divdos";

    @include mobilemini {
        @include grid-responsive;
    }

    @include mobile {
        height: 140vh;
        @include grid-responsive
    }

    .divUno {
        grid-area: divuno;

        @include mobilemini {
            display: $display;
            align-items: $align-items;
            justify-content: $justify-content;
        }

        @include mobile {
            display: $display;
            align-items: $align-items;
            justify-content: $justify-content;
            margin-right: 21px;

        }

        img {
            width: 70vh;
            margin: 40px 0 0 20px;
            border: 2px solid black;
            border-radius: 1rem;

            @include mobilemini {
                width: 50vh;
            }
        }
    }

    div.tUno {
        display: $display;
        align-items: $align-items;
        text-align: $justify-content;

        @include mobilemini {
            margin: 20px 0 20px 0;
        }

        @include mobile {
            margin: 10px 0 10px 0;
        }

        h2 {
            color: $color;
            padding-right: 30px;
            padding-left: 30px;

            @include mobilemini {
                font-size: 0.8rem;
            }

            @include mobile {
                font-size: 1rem;
            }
        }
    }

    .divDos {
        grid-area: divdos;
        display: $display;
        justify-content: flex-end;
        margin-right: 20px;

        @include mobilemini {
            margin-right: 50px;
        }

        @include mobile {
            justify-content: $justify-content;
            margin-right: 0;
        }

        img {
            width: 70vh;
            border: 2px solid black;
            border-radius: 1rem;

            @include mobilemini {
                width: 50vh;
            }
        }
    }

    div.tDos {
        display: $display;
        align-items: $align-items;
        text-align: $justify-content;

        @include mobilemini {
            margin: 20px 0 20px 0;
        }

        @include mobile {
            margin: 10px 0 10px 0;
        }

        h2 {
            color: $color;
            padding-left: 30px;
            padding-right: 30px;

            @include mobilemini {
                font-size: 0.8rem;
            }

            @include mobile {
                font-size: 1rem;
            }
        }
    }
}

main.mainEquipo {
    @extend %main;

    div.video {
        flex: 1;
        display: $display;
        justify-content: $justify-content;
        margin: 10px 0 10px 0;
        position: relative;
    }

    div.slider {
        height: auto;

        ul {
            padding: 0;
            display: $display;
            width: 200%;
            animation: slider 10s infinite alternate-reverse;

            li {
                width: 800%;
                list-style: none;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}

@keyframes slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: -5%;
    }

    25% {
        margin-left: -25%;
    }

    45% {
        margin-left: -50%;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    100% {
        margin-left: -200%;
    }
}

main.cConocenos {
    height: 80vh;
    display: $display;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: $align-items;
    justify-content: $justify-content;

    @include mobilemini {
        display: grid;
        height: 110vh;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: auto;
        grid-template-areas:
            "titulos"
            "contenido"
        ;
    }

    @include mobile {
        display: grid;
        height: 110vh;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: auto;
        grid-template-areas:
            "titulos"
            "contenido"
        ;
    }
}

.titulos {
    background: rgba(0, 0, 0, 0.452);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
    color: $color;

    h1 {
        @include mobilemini {
            font-size: 1.1rem;
        }

        @include mobile {
            font-size: 1.3rem;
        }

    }

    @include mobilemini {
        grid-area: titulos;
    }

    @include mobile {
        grid-area: titulos;

    }

}

.contenido {
    display: $display;
    flex-wrap: wrap;

    @include mobilemini {
        grid-area: contenido;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        grid-template-areas:
            "imagen"
            "mapa"
        ;

    }

    @include mobile {
        grid-area: contenido;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        grid-template-areas:
            "imagen"
            "mapa"
        ;
        margin-left: 100px;
    }

    .imagen {
        display: $display;
        flex-direction: column;
        justify-content: $justify-content;
        align-items: $align-items;
        margin-right: 120px;

        @include mobilemini {
            grid-area: imagen;
            margin-right: 0;
            margin-bottom: 30px;
        }

        @include mobile {
            grid-area: imagen;
            margin-right: 0;
            margin-bottom: 30px;
        }

        h2 {
            @include mobilemini {
                font-size: 1.1rem;
                margin-left: 50px;
            }

            @include mobile {
                font-size: 1.3rem;
                margin-left: 50px;
            }

        }

        img {
            @include mobilemini {
                width: 250px;
                margin-left: 40px;
            }

            @include mobile {
                margin-left: 50px;
            }
        }
    }


    .mapa {
        display: $display;
        justify-content: left;
        align-items: flex-start;
        flex: 1;

        @include mobilemini {
            grid-area: mapa;
            flex-direction: column;
            margin-bottom: 20px;
        }

        @include mobile {
            grid-area: mapa;
            flex-direction: column;
            margin-bottom: 20px;
        }


        h2 {
            background: rgba(255, 255, 255, 0.452);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(4.3px);
            -webkit-backdrop-filter: blur(4.3px);
            border: 1px solid rgba(0, 0, 0, 1);
            padding: 5px 15px 5px 15px;
            padding-right: -20px;
            color: $color;
        }

        iframe {
            align-items: flex-start;
            border-radius: $border;

            @include mobilemini {
                width: 300px;
                height: 200px;
                align-items: $align-items;
                margin-left: 20px;

            }

            @include mobile {
                width: 400px;
                height: 200px;
                align-items: $align-items;
                margin-right: 100px;
            }
        }
    }


    .lista {
        margin-left: 70px;
        flex: 1;
        text-align: right;

        @include mobilemini {
            display: none;
        }

        @include mobile {
            display: none;
        }

        h3 {
            background: rgba(255, 255, 255, 0.452);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(4.3px);
            -webkit-backdrop-filter: blur(4.3px);
            border: 1px solid rgba(0, 0, 0, 1);
            padding: 5px 15px 5px 15px;
            color: $color;
            text-align: right;
        }

        ul {
            list-style-type: none;

            li {
                color: $color;
            }
        }
    }
}


main.mainEquipo {
    @extend %main;

    @include mobilemini {
        height: 60vh;
    }

    @include mobile {
        height: 80vh;
    }

    div {
        margin-top: 35px;

        p {
            display: $display;
            font-size: 2rem;
            text-align: center;
            color: $color;

            @include mobilemini {
                font-size: 1rem;
            }

            @include mobile {
                font-size: 1.3rem;
            }
        }
    }

    div.divDosCompras {
        margin-top: 100px;

        @include mobilemini {
            margin-top: 50px;
        }

        h2.tMarcas {
            display: $display;
            color: $color;
            justify-content: $justify-content;
            text-align: center;
        }
    }

    div.divTresCompras {
        display: $display;
        margin-top: 90px;
        justify-content: $justify-content;

        img {
            &:hover {
                transform: scale(1.1);
            }
        }

        @include mobilemini {
            margin-top: 30px;
        }

        @include mobile {
            margin-top: 20px;
        }
    }

}