main {
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas:
        "divuno pUno"
        "pDos divdos";

    @include mobilemini {
        @include grid-responsive;
    }

    @include mobile {
        @include grid-responsive
    }

    .divUno {
        grid-area: divuno;

        @include mobilemini {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 21px;

        }

        img {
            width: 70vh;
            margin: 40px 0 0 20px;
            border: 2px solid black;
            border-radius: 1rem;

            @include mobilemini {
                width: 50vh;
            }
        }
    }

    div.tuno {
        display: flex;
        align-items: center;
        text-align: center;

        @include mobilemini {
            margin: 20px 0 20px 0;
        }

        @include mobile {
            margin: 10px 0 10px 0;
        }

        h2 {
            color: $color;
            padding-right: 30px;
            padding-left: 30px;

            @include mobilemini {
                font-size: 0.8rem;
            }

            @include mobile {
                font-size: 1rem;
            }
        }
    }

    .divDos {
        grid-area: divdos;
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        @include mobilemini {
            margin-right: 50px;
        }

        @include mobile {
            justify-content: center;
            margin-right: 0;
        }

        img {
            width: 70vh;
            border: 2px solid black;
            border-radius: 1rem;

            @include mobilemini {
                width: 50vh;
            }
        }
    }

    div.tdos {
        display: flex;
        align-items: center;
        text-align: center;

        @include mobilemini {
            margin: 20px 0 20px 0;
        }

        @include mobile {
            margin: 10px 0 10px 0;
        }

        h2 {
            color: $color;
            padding-left: 30px;
            padding-right: 30px;

            @include mobilemini {
                font-size: 0.8rem;
            }

            @include mobile {
                font-size: 1rem;
            }
        }
    }
}

main.mainequipo {
    @include main;

    div.video {
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 10px 0 10px 0;
        position: relative;
    }

    div.slider {
        height: auto;

        ul {
            padding: 0;
            display: flex;
            width: 200%;
            animation: slider 10s infinite alternate-reverse;

            li {
                width: 800%;
                list-style: none;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }
}

@keyframes slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: -5%;
    }

    25% {
        margin-left: -25%;
    }

    45% {
        margin-left: -50%;
    }

    50% {
        margin-left: -100%;
    }

    70% {
        margin-left: -100%;
    }

    100% {
        margin-left: -200%;
    }
}

main.cconocenos {
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .titulos {
        background: rgba(0, 0, 0, 0.452);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.3px);
        -webkit-backdrop-filter: blur(4.3px);
        border: 1px solid rgb(255, 255, 255);
        padding: 5px 15px 5px 15px;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 20px;
        color: $color;

    }

    .contenido {
        display: flex;
        flex-wrap: wrap;

        .imagen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 120px;
            img {
                border-radius: $border;
            }
            h2{
                text-align: center;
            }
        }


        .mapa {
            display: flex;
            justify-content: left;
            align-items: flex-start;
            flex: 1;


            h2 {
                background: rgba(255, 255, 255, 0.452);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(4.3px);
                -webkit-backdrop-filter: blur(4.3px);
                border: 1px solid rgba(0, 0, 0, 1);
                padding: 5px 15px 5px 15px;
                padding-right: -20px;
                color: $color;
            }

            iframe {
                align-items: flex-start;
                border-radius: $border;
            }
        }


        .lista {
            margin-left: 70px;
            flex: 1;
            text-align: right;

            h3 {
                background: rgba(255, 255, 255, 0.452);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(4.3px);
                -webkit-backdrop-filter: blur(4.3px);
                border: 1px solid rgba(0, 0, 0, 1);
                padding: 5px 15px 5px 15px;
                color: $color;
                text-align: right;
            }

            ul {
                list-style-type: none;

                li {
                    color: $color;
                }
            }
        }
    }
}

main.mainequipo {
    @include main;
    
    div {
        h1 {
            color: $color;
        }
    }

    div.divdoscompras {
        margin-top: 200px;
       
        h2.tmarcas {
            color: $color;
            margin-left: 500px;
        }
    }

    div.divtrescompras {
        img {
            margin: 200px 0px 0px 100px;
        }
    }

}



